div{
    padding: 0px 25px 0px 0px;
    margin: 30px;
    background-color:rgb(159, 172, 42);
    width: 35%;
    height: 200px;
    min-width: 300px;
    /* border: 1px solid black; */
    border-radius: 25px;
}
img{
    
  
    border-radius: 10px 25px 25px 25px;    
    margin-right: 25px;
    height: 100%;
    /* border-right: 1px solid black; */
}
h3{
    text-align: center;
    margin-left: 50px;
  
    height: 100%;
}
