body {
    height: 1800px;
    width: min-content 800px;
   
    display: flex;
    justify-content: center;

    margin:0%
    }
    #container{
        padding: 15px;
        margin: 15px;
        background-color: black;
        color: white;
        border: 2px solid black;
        border-radius: 25px;
        width: 800px;
        height: fit-content;    
    }
    #userAndLogout {
        display: block;
        width: 700px;
        padding: px;
        height: 100px;
    }
    #user-name{
        height: 20px;
        width: fit-content;
        margin-left: 0;
        
    }



    .container-logout-btn{
    padding-right: 250px;
    padding-bottom: 30px;
    display:flex;
    align-items: left;
    }
        
   
    
    .input-container {
        display: none;
        grid-template-columns: 1fr max-content;
        text-align: center;
        flex-direction: column;             
        gap: 5px;
        text-align: center; 
    }
    .input-container input{
        border-radius: 25px;
        padding: 10px;
        opacity: 0.9;
        font-size: larger;
        font-style:normal;
        font-family: Arial, Helvetica, sans-serif; 
    }
    .postType{
        width: 150px;
        
    }
    #return-btn{
    
        display: flex;
        flex-direction: column;
        gap: 10px; 
        justify-content: center;   
    }

    #container-logout-btn{
        display: flex;
        align-items: left;
    }
    
    #print-user-posts {
       
        border: 2px solid black;
        /* height: 500px; */
        width: 600px;
        background-color: black;
        color: white;
        margin-top: 10px;
   
    }
    .dataContainer{
        display: flex;
        justify-content: space-between;
    }
    #print-user-posts.p {
        border: 2px solid black;
        gap: 5px;
    }
    .printedDataContainer {
        border: 1px solid rgb(59, 59, 59); 
        width:800px;
        display: grid;
        grid-template-columns: 150px 1fr 80px 200px;
        gap: 10px;
        justify-content: center;
   }
   .button_container{
    display: flex;
    justify-content: space-evenly;
    height: 30px;
   }

   .button_container button{
    display: flex;
    justify-content: space-evenly;
    height: 30px;
   }

   .postContent{
    word-break: break-all;
   }
   

   .printedDataContainer input{
   
  
    
 
    opacity: 0.9;
    font-size:small;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
   }